* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  justify-content: center;
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.align-right {
  display: flex;
  align-items: end;
}

.align-left {
  display: flex;
  align-items: start;
}

.margin-border {
  margin-left: 70px;
  margin-right: 70px;
}

.main-background-color {
  background-color: black;
}

.main-color {
  color: white;
}

.text-dec {
  text-decoration: none;
}

.logo-size {
  font-size: 40px;
  font-weight: 600;
}

.nav-gap {
  display: flex;
  gap: 45px;
}

.small-margin-top-bottom {
  padding-top: 35px;
  padding-bottom: 35px;
}

.hero-height {
  height: 80vh;
}

.h1-size {
  font-size: 75px;
  font-weight: 500;
}

.small-padding-top {
  padding-top: 140px;
}

.small-padding-top-hero {
  padding-top: 140px;
}

.image-fluid {
  max-width: 100%;
}

.container {
  max-width: 100vw;
  overflow: hidden;
}

.p-size {
  font-size: 30px;
  font-weight: 500;
}

.btn-primary {
  padding: 20px 60px;
  background-color: white;
  color: black;
  border-radius: 50px;
  transition: 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: rgb(180, 178, 178);
}

.btn-primary2 {
  padding: 20px 60px;
  background-color: black;
  color: white;
  border-radius: 50px;
  transition: 0.3s ease-in-out;
}

.btn-primary2:hover {
  background-color: rgb(180, 178, 178);
}

.btn-font-size {
  font-size: 18px;
  font-weight: 400;
}

.h2-size {
  font-size: 40px;
  font-weight: 500;
}

.section-margin {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.img-small {
  max-width: 45%;
}

.main-background-image {
  background-image: url(images/back.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.padding-bottom {
  padding-bottom: 4rem;
}

.padding-top {
  padding-top: 4rem;
}

.h3-size {
  font-size: 35px;
}

.img-small {
  max-width: 60%;
}

.fnav-column {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.align-top {
  display: flex;
  justify-content: start;
}

.icon {
  font-size: 50px;
}

.hide {
  display: none;
}

.align-right-center {
  display: flex;
  justify-content: end;
  align-items: end;
}

@media (max-width: 1024px) {
  .display-show {
    display: none;
  }
  .display-allow {
    display: block;
  }
  .h1-size {
    font-size: 50px;
  }
  .padding-top {
    padding-top: 10px;
  }
  .small-padding-top {
    padding-top: 60px;
  }
  .hero-height {
    height: 60vh;
  }
  .p-size {
    font-size: 18px;
  }
  .h2-size {
    font-size: 22px;
    font-weight: 400;
  }
}

@media (max-width: 767px) {
  .column-change {
    display: flex;
    flex-direction: column;
  }
  .change-align-left {
    display: flex;
    justify-content: start;
    align-items: start;
  }
  .text-center {
    text-align: center;
  }
  .change-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .h1-size {
    font-size: 37px;
  }
  .margin-border {
    margin-left: 20px;
    margin-right: 20px;
  }
  .logo-size {
    font-size: 24px;
  }
  .icon {
    font-size: 34px;
  }
  .btn-holder {
    display: flex;
    align-items: center;
  }
  .h2-size {
    text-align: center;
  }
  .p-center {
    text-align: center;
  }
  .small-center {
    display: flex;
    justify-content: center;
  }
  .small-padding-top-hero {
    padding-top: 0px;
  }
}

/* menu-overlay */

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: white;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 40px;
  right: 40px;
  font-size: 50px;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/* end */
